// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  body {
    line-height: 2;
    font-family: 'Manjari', sans-serif;
    height: 100vh;
    font-size: 1.6rem;
  }
} //  this closes the html

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin-left: 20px;
  padding-right: 20px;
  border-right: 3px dotted black;
  line-height: 2.2;

  .contact {
    padding-top: 15px;
    border-top: 1px solid black;
    text-align: right;
  }
  .education {
    padding-top: 15px;
    border-top: 1px solid black;
    text-align: right;

    h1 {
      font-size: 2rem;
      color: lightskyblue;
      background-color: lightgrey;
    }
  }

  .skills {
    padding-top: 15px;
    border-top: 1px solid black;
    text-align: right;

    h1 {
      font-size: 2rem;
      color: lightskyblue;
      background-color: lightgrey;
    }
  }
} // This closes the sidebar

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30%;
  nav {
    background-color: lightgrey;
    width: 100%;
    text-align: right;
    a {
      padding: 20px;
    }
  }
}
footer {
  height: 6%;
  width: 100%;
  background-color: lightblue;
}
.heading {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  text-align: center;
  h2 {
    font-size: 2rem;
  }
}
.main-content {
  height: 100%;
  width: 75%;
  //   border: 2px solid gray;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.5;
  margin-right: 50px;
  padding-left: 20px;
  .firstjob {
    border-top: 2px solid grey;
    padding-top: 15px;
    border-bottom: 2px solid grey;
    padding-bottom: 15px;
  }
  h1 {
    font-size: 3rem;
    color: lightskyblue;
  }
}

h3 {
  font-size: 1.7rem;
  color: black;
  padding-bottom: 30px;
}

.secondjob {
  padding-top: 30px;
  h2 {
    font-size: 2.1rem;
    color: black;
  }
}

.listone {
  list-style-type: disc;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.wrapsboth {
  display: flex;
}
